.products-section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .products-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
