/* // */
section.section {
  padding: 100px 0;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.image-wrapper {
  position: relative;
  padding: 20px 30px;
  width: 250px;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.3s linear;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-wrapper:hover {
  box-shadow: none;
  border: 1px solid #006738;
}

@media screen and (max-width: 750px) {
  section.section {
    padding: 50px 0;
  }

  .image-wrapper {
    width: 100%;
    height: 220px;
  }
}
