.container {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: -8px -8px;
  background: #c04848; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #480048, #c04848);
}

.content h2,
.content p {
  padding: 0 20px;
  color: #ffff;
}

.content h2 {
  font-size: 70px;
}

.content p {
  padding: 30px 20px;
  position: relative;
  display: inline-block;
  font-size: 18px;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.content p::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #ffff;
  left: -10px;
  top: 0;
}

.link {
  text-align: center;
}

.link a {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
}

.link a:hover {
  text-decoration: none;
}

@media (max-width: 900px) {
  .content h2,
  .content p {
    padding: 0 10px;
    color: #ffff;
  }

  .content h2 {
    font-size: 34px;
  }

  .content p {
    padding: 20px 10px;
    font-size: 14px;
  }

  .content {
    gap: 20px;
  }

  .link a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
    gap: 0;
  }

  .content h2,
  .content p {
    padding: 0 5px;
  }

  .content h2 {
    font-size: 30px;
    margin: 0;
  }

  .content p {
    padding: 10px 5px;
    font-size: 12px;
  }

  .content p::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #ffff;
    left: 0;
    top: -10px;
  }

  .content {
    gap: 10px;
  }

  .link a {
    font-size: 12px;
  }
}
