div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 85%) 1fr;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #006738;
  font-weight: bold;
  border: 2px solid #006738;
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
  height: 25px !important;
  width: 25px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  font-weight: bold;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr min(1440px, 75%) 1fr;
  }
}

@media screen and (max-width: 900px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
